/// @access public
/// @author @Agustín Jiménez Polonio

/// Color Primario.
/// @group colores
$primary: #d78000;

/// Color Secundario.
/// @group colores
$secundary:  #f7b811;

/// Color Terciario.
/// @group colores
$terciary: #b15400;

/// Color fondo claro.
/// @group colores
$bg-light: #dddddd;

/// Color fondo oscuro
/// @group colores
$bg-dark: #222222;

/// Color texto claro
/// @group colores
$text-light: #FFFFFA;

/// Color texto oscuro
/// @group colores
$text-dark: #000;



